In [ ]:
print("Hello, World!")

Hello, World!

# Variables

In [ ]:
#integer
a = 2
print(type(a))
print(a)

<class 'int'>
2

In [ ]:
#float
a = 2.5
print(a)
print(type(a))

2.5
<class 'float'>

In [ ]:
#string
a = 'string'
print(a)
print(type(a))

string
<class 'str'>

In [ ]:
a = "2"
print(a)
print(type(a))

2
<class 'str'>

In [ ]:
myVar = 20
MyVar = 30
print(myVar)
print(MyVar)

20
30

In [ ]:
#variable declaration
# _ or a-z or A-Z

_var1 = 20
print(_var1)

20

In [ ]:
var1 = 20
print(var1)

20

In [ ]:
if = 20
print(if)

SyntaxError: invalid syntax (<ipython-input-13-62b2990fe20d>, line 1)

In [ ]:
# multi variable assigning
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [ ]:
# multi variable assigning
a,b,c = 10,20.50,'String'
print(a,b,c)

10 20.5 String

In [ ]:
#Constant Values
PI = 3.14
print(PI)

3.14

In [ ]:
PI =20
print(PI)

20

In [ ]:
print(_var1)

20

In [ ]:
del _var1

# Input/Output Functions

In [ ]:
var = input()
print(var)

20
20

In [ ]:
var = input("Enter a value: ")
print(var)
print(type(var))

Enter a value: 30
30
<class 'str'>

In [ ]:
var=int(input("Enter a value: "))
print(var)
print(type(var))

Enter a value: 30
30
<class 'int'>

In [ ]:
age=int(input("Enter your age: "))
print("Your age is", age) #regular printing statement

Enter your age: 30
Your age is 30

In [ ]:
print("python", "is", "easy", sep="-", end=" and ")
print("it is fun to learn python")

python-is-easy and it is fun to learn python

In [ ]:
age = 30
age2 = 20
print("Your {1} age is {0}" .format(age, age2)) #print using .formate()

Your 20 age is 30

In [ ]:
age = 30
name='ram'
print(f"My name is {name} and age is {age}.") #print using f-string *mostly used method*
print("My name is ", name, " and age is ", age,".", sep='')
print("My name is " + name + " and age is " + str(age) + ".", sep='')

My name is ram and age is 30.
My name is ram and age is 30.
My name is ram and age is 30.

In [ ]:
x='50 '
y='40'
z=10
print(x+y+str(z)) #concatination
print(int(x)+int(y)+z)

50 4010
100

# Type casting

In [ ]:
x='3'
y=400
z=5.05
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
x=int('3')
y=float(40)
z=int(5.8)
print(type(x))
print(type(y))
print(type(z))

print(z)

<class 'int'>
<class 'float'>
<class 'int'>
5