# **Operators**

# 1. Arthematic operators

In [ ]:
x=10
y=20
print(x+y) #Addition
print(x-y) #Subtraction
print(x*y) #Multiplication
print(y/x) #Division
print(5%3) #Modulus (remainder)
print(5**3) #Exponentiation
print(y//x) #Floor division (5.05, 5.85, 5.51 )

30
-10
200
2.0
2
125
2

In [ ]:
str1 = 'abc '
str2 = 'xyz'
print(str1+str2)
print(str1*5)

abc xyz
abc abc abc abc abc

# 2.Comparision Operators

In [ ]:
x = 5
y = 10

print(x == y) #Equal to True or False
print(x != y) #Not equal to True
print(x > y) #Greater than
print(x < y) #Less than
print(x >= y) #Greater than or equal to
print(x <= y) #Less than or equal to

False
True
False
True
False
True

In [ ]:
a=10
b=10
print(a >= b)
print(a <= b)

True
True

In [ ]:
x = 'abc'
y = 'xyz'
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

# 3.Logical

In [ ]:
# and, or, not

x = True
y = False
print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

# 4.Assignment Operators

In [ ]:
# =, +=, -=, *=,

x = 5
print(x)
x += 1 # x = x + 1
print(x)
x -= 1 # x = x-1
print(x)
x *= 2
print(x)

5
6
5
10

# 5.Identity Operators

In [ ]:
x = [1,2,3,4,5] #list
y = [1,2,3,4,5]
z = x

print(x is y)
print(x is z)
print(x == z)
print(x is not z)

print(z)

False
True
True
False
[1, 2, 3, 4, 5]

# 6.Bitwise operators

In [ ]:
# 8 4 2 1
# 0 1 0 1
# 0 0 1 1

a = 5  # 0101 in binary
b = 3  # 0011 in binary

print(a & b)  # 1   (0101 & 0011 = 0001) #AND
print(a | b)  # 7   (0101 | 0011 = 0111) #OR
print(a ^ b)  # 6   (0101 ^ 0011 = 0110) #XOR
print(~a)     # -6  (~0101 = 1010, which is -6 in two's complement) #NOT
print(a << 1) # 10  (left shift by 1: 0101 becomes 1010)
print(a >> 1) # 2   (right shift by 1: 0101 becomes 0010)

1
7
6
-6
10
2

# 7.Membership operators

In [ ]:
# in

x = [1,2,3,4,5]

print(1 in x)
print(6 in x)
print(6 not in x)
print(1 not in x)

True
False
True
False

# 8.Ternery operators

In [ ]:
x = 10

if x % 2 == 0:
  result = "Even"
else:
  result = "Odd"

print(result)  # "Even"

result = "Even" if x % 2 == 0 else "Odd"
#  true_value if condition else false_value

print(result)  # "Even"

print("Even" if x % 2 == 0 else "Odd")

Even
Even
Even

# 9.Labda Function

In [ ]:
mul = lambda a, b: a * b  #complex operations

def sum(a, b):
  return a + b

print(mul(3, 4))  # 12
print(sum(3, 4))

print(type(mul))
print(type(sum))

12
7
<class 'function'>
<class 'function'>