<a href="https://colab.research.google.com/github/TagoreT/Python_class/blob/main/Day6-Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. For loop
2. While Loop
3. Looping cntrolls
4. Nested loops

# 1.For Loop

In [ ]:
# For loop

#syntax
for variable in sequence:
  #code block to exicute

In [3]:
fruits = ['apple', 'mango', 'grape']

for fruit in fruits:
  print(fruit)

# if 'apple' in fruits:
#   print('apple is present')

apple
mango
grape
apple is present

In [7]:
num = [1,2,3,4,5]

for i in range(5):
  print(i, num[i]) #num[0], num[1]

0 1
1 2
2 3
3 4
4 5

In [11]:
for i in range(2, 50, 2): # starting, ending, step up (101-1)
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [13]:
for i in range(50, 1, -2): # starting, ending, step up (101-1)
  print(i)

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [14]:
string = "python is easy!"

for char in string:
  print(char)

p
y
t
h
o
n

i
s

e
a
s
y
!

# 2. While Loop

In [ ]:
while condition:
  #code block

In [18]:
num = 1

while num <= 10:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10

In [20]:
num = 10

while num > 0:
  print(num)
  num -= 2

10
8
6
4
2

In [21]:
while True:
  print("infinite loop")
  break

infinite loop

In [28]:
num =  0

while True:
  num += 1

  if num % 2 == 0:
    continue

  print(num)

  if num > 10:
    break

1
3
5
7
9
11

In [32]:
for i in range(1, 5):
  print('i value changed to ', i)
  for j in range(1, 5):
    print(i, j)

i value changed to  1
1 1
1 2
1 3
1 4
i value changed to  2
2 1
2 2
2 3
2 4
i value changed to  3
3 1
3 2
3 3
3 4
i value changed to  4
4 1
4 2
4 3
4 4

# Patterns

In [36]:
for i in range(5): #0, 1
  for j in range(i+1): #0, range=2{0, 1}
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [37]:
for i in range(1, 6): #0, 1
  for j in range(1, i+1): #0, range=2{0, 1}
    print(j, end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5